<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
    <!--Add a registration form here -->
        <form action='{% url 'djangoapp:registration' %}' method='post'>
            <div class='container'>
                <h1>Sign Up</h1>
                <div class='form-group'>
                    <label for='username'>User Name</label>
                    <input type='text' class='form-control' placeholder='Enter User Name: ' name='username' required>
                    <label for='firstname'>First Name</label>
                    <input type='text' class='form-control' placeholder='Enter First Name: ' name='first_name' required>
                    <label for='lastname'>Last Name</label>
                    <input type='text' class='form-control' placeholder='Enter Last Name: ' name='last_name' required>
                    <label for='psw'>Password</label>
                    <input type='password' class='form-control' placeholder='Enter Password: ' name='psw' required>
                    <label for='psw_confirm'>Please confirm your password</label>
                    <input type='password' class='form-control' placeholder='Confirm your password: ' name='psw_confirm' required>
                </div> 
                {% csrf_token %}
                <div>
                    <button class='btn btn-primary' type='submit'>Sign up</button>
                </div>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-warning" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}      
            </div>   
        </form>
    </body>
</html>